.three-images{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0;
    margin-top:20px ;
}
.three-images img{
    border-radius: 100%;
}


.three-images img:nth-child(2){
align-self: flex-start;
justify-self: flex-start;
margin: -20px 20px;
position: absolute;
}
.Faqfooter{
    background:  linear-gradient(89.51deg, #A7DAF9 -51.13%, #018ABD 131.81%); 
    height: fit-content;
    font-family: 'Lexend', sans-serif;
}
.top-foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    
}
.top-foot h4{
    font-weight: 600;
    font-size: 18px;
}
.top-foot button{
    width: 120px;
height: 50px;
color: #fff;
border: none;
font-weight: 600;
background: #004581;
border-radius: 5px;
}
