@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}
.uppernav{
width: 100%;
   color: #fff;
    background: #018ABD;
    display: flex;

}
.uppernav h4{
    margin-left: 50px;
}